.section{
    position: relative;
    top: 200vh;
    left: 50%;
    width: 50%;
    padding: 800px 50px 0 80px;
    background-color: #DAF5FF;
}
.section__intro-wrapper{
    position: relative;
    padding: 0px 0px 300px 0;
    border-bottom: 3px solid var(--hot-pink);
}
.intro-wrapper__title{
    position: absolute;
    z-index: 999; 
    transform-origin: left;
    transform: skewY(20deg);
}
.intro-wrapper__title__text{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 45px;
    font-weight: normal;
    color: var(--hot-pink);
}
.intro-wrapper__decoration{
    position: absolute;
    height: 70px;
    width: 300px;
    border: 1px solid var(--hot-pink);
    transform-origin: left;
}
.intro-wrapper__decoration:nth-of-type(1){
    transform: skewY(20deg);
    top: 80px;
    background-color: var(--hot-pink);
}
.intro-wrapper__decoration:nth-of-type(2){
    transform: skewY(-20deg);
}
.intro-wrapper__decoration:nth-of-type(3){
    transform: skewY(-20deg);
    top: 80px;
}

.intro-wrapper__number{
    position: absolute;
    right: 0;
    bottom: 15px;
    font-size: 20px;
}

.section__detail-wrapper{
    width: 100%;
    padding: 80px 0 500px 0px;
}
.detail-wrapper__text{
    font-family: 'Montserrat', sans-serif;
}