.hero{
    position: relative;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.hero__first{
    position: absolute;
    bottom: 20%;
}
.hero .first__name{
    font-size: 70px;
    color: #1d100f;
    text-shadow: #ffb94f 4px 4px 0px;
}
.hero .first__title{
    font-size: 26px;
}
.hero__second{
    position: absolute;
    top: 20%;
    right: 0;
    width: 300px
}
.second__title{
    font-size: 35px;
}
.hero__arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(0,-50%);
    width: 20px;
    height: 20px;
    animation: arrowMovement linear 0.7s infinite;
}
.hero__intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.intro__title{
    font-size: 20px;
}
.title__item{
    opacity: 0;
}

@keyframes arrowMovement {
    0%{
        top: 90%;
    }
    50%{
        top: 91%;
    }
    100%{
        top: 90%;
    }
}

@media screen and (min-width:1250px) and (max-width:1499px){
    .hero .first__name{
        font-size: 60px;
    }
    .hero .first__title{
        font-size: 24px;
    }
    .second__title{
        font-size: 30px;
    }
}
@media screen and (min-width:969px) and (max-width:1249px){
    .hero__first{
        left: 5%;
    }
    .hero .first__name{
        font-size: 60px;
    }
    .hero .first__title{
        font-size: 24px;
    }
    .second__title{
        font-size: 30px;
    }
}

@media screen and (min-width:500px) and (max-width:968px){
    .hero__first{
        left: 5%;
    }
    .hero .first__name{
        font-size: 40px;
        text-shadow: #ffb94f 3px 3px 0px;
    }
    .hero .first__title{
        font-size: 20px;
    }
    .hero__second{
        width: 200px;
    }
    .second__title{
        font-size: 22px;
    }
}
@media screen and (max-width:499px){
    .hero__first{
        left: 5%;
    }
    .hero .first__name{
        font-size: 30px;
        text-shadow: #ffb94f 2px 2px 0px;
    }
    .hero .first__title{
        font-size: 16px;
    }
    .hero__second{
        width: 150px;
    }
    .second__title{
        font-size: 18px;
    }
    .hero__intro .intro__title{
        font-size: 12px;
    }
}