.section{
    position: relative;
    width: 50%;
    padding: 800px 50px 0 80px;
    background-color: #FFFBEB;
    overflow: hidden;
}
.section__intro-wrapper{
    position: relative;
    padding: 0px 0px 300px 0;
    border-bottom: 3px solid;
}
.intro-wrapper__title{
    position: absolute;
    z-index: 999; 
    transform-origin: left;
    transform: skewY(20deg);
}
.intro-wrapper__title__text{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 45px;
    font-weight: normal;
}
.intro-wrapper__decoration{
    position: absolute;
    height: 70px;
    width: 300px;
    border: 1px solid;
    transform-origin: left;
}

.intro-wrapper__number{
    position: absolute;
    right: 0;
    bottom: 15px;
    font-size: 26px;
}

.section__detail-wrapper{
    width: 100%;
    padding: 80px 0 500px 0px;
}
.detail-wrapper__text{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
}
.section-margin{
    margin: 3000px;
    width: 100%;
}


.--right{
    left: 50%;
}
.--left{
    left: 0%
}

.--style-one{
    transform: skewY(20deg);
    top: 80px;
}
.--style-two{
    transform: skewY(-20deg);
}
.--style-three{
    transform: skewY(-20deg);
    top: 80px;
}

.--pink-text{
    color: var(--hot-pink);
}
.--pink-border{
    border-color: var(--hot-pink);
}
.--pink-background{
    background-color: var(--hot-pink);
}

.--purple-text{
    color: var(--purple);
}
.--purple-border{
    border-color: var(--purple);
}
.--purple-background{
    background-color: var(--purple);
}

.--green-text{
    color: var(--green);
}
.--green-border{
    border-color: var(--green);
}
.--green-background{
    background-color: var(--green);
}





@media screen and (max-width:968px){
    .section{
        width: 100%;
    }
    .--right{
        left: 0%;
    }
}